<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Распознавание шрифта Брайля</title>
</head>
<body>

<header>
  <div class="navbar navbar-dark bg-primary">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-type" viewBox="0 0 16 30">
          <path d="m2.244 13.081.943-2.803H6.66l.944 2.803H8.86L5.54 3.75H4.322L1 13.081h1.244zm2.7-7.923L6.34 9.314H3.51l1.4-4.156h.034zm9.146 7.027h.035v.896h1.128V8.125c0-1.51-1.114-2.345-2.646-2.345-1.736 0-2.59.916-2.666 2.174h1.108c.068-.718.595-1.19 1.517-1.19.971 0 1.518.52 1.518 1.464v.731H12.19c-1.647.007-2.522.8-2.522 2.058 0 1.319.957 2.18 2.345 2.18 1.06 0 1.716-.43 2.078-1.011zm-1.763.035c-.752 0-1.456-.397-1.456-1.244 0-.65.424-1.115 1.408-1.115h1.805v.834c0 .896-.752 1.525-1.757 1.525z"/>
        </svg>
        <strong>Распознавание шрифта Брайля</strong>
      </a>
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Загрузка изображения</h1>
        <p class="lead text-muted">Загружайте только те фотографии или сканы, где точки отбрасывают тень, для лучшего распознавания</p>
        <p>

          <form method=post enctype=multipart/form-data>
            <input class="btn btn-primary btn-lg btn-block" type=file name=file>
            <input class="btn btn-secondary btn-lg btn-block" type=submit value="Распознать">
            </form>
        </p>
      </div>
    </div>
  </section>

</main>
<div class="fixed-bottom">
    <div class="container">
        <p class="mb-1">Программа разработана "Командой А" для некомерческого использования. Специально для предмета "Управление оснонное на данных"</p>
    </div>
</div>


</body>
</html>