body{
    margin: 0;
    font-size: 14px;
    color: #6c7279;
}

*,
*:befor,
*:after{
    box-sizing: border-box;
}
/*Intro
************************/
.intro{
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:750px;
    background:
    url("../img/br4.jpg")
    center no-repeat rgba(0, 0, 0, 0.62);

}
.intro__inner{
    width 100%;
    max-wdth: 970px;
    margin: 0 auto;
}

.intro_title {
    margin: 0;
    font-size: 65px;
    line-height: 1.1;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-shadow: -5px 9px 10px #000000;
}
.intro__subtitle{
    margin: 0;
    font-size: 25px;
    line-height: 1.1;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-shadow: -5px 9px 10px #000000;
}
/*download
***************************/
.button{
    text-align: center;
}
.download{
    display:flex;
    height:600px;
}

